
name: Test pull request

on:
  pull_request:

permissions:
  contents: read

jobs:

  container-push:

    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup environment
        run: |
            python3 -m venv env
            . env/bin/activate
            pip install -e .[dev]

      - name: Run pytest tests
        run: |
           . env/bin/activate
           pytest -v --tb=short

